files:
  "/etc/php.d/redis.ini" :
    mode: "000644"
    owner: root
    group: root
    content: |
      extension=redis.so
      session.save_handler = redis
      session.save_path = "tcp://letspray.wo5usz.0001.usw2.cache.amazonaws.com:6379"

packages:
  yum:
    php56-devel: []
    make: []
    gcc: []
    wget: []
    git: []
  pecl:
    igbinary: []

commands:
  01download_redis:
    command: "wget https://github.com/nicolasff/phpredis/zipball/master -O /tmp/phpredis.zip"
    cwd: /tmp

  02install_redis:
    command: "unzip -o /tmp/phpredis.zip ; cd /tmp/phpredis-phpredis-* ; phpize ; sudo ./configure --enable-redis-igbinary ; make ; make install"
    cwd: /tmp

  03restart_server:
    command: "apachectl restart"
    cwd: /tmp
