files:
  "/etc/php.d/redis.ini" :
    test: '[ ! /etc/php.d/redis.ini ] && echo "Redis connection not configured"'
    mode: "000644"
    owner: root
    group: root
    content: |
      extension=redis.so
      session.save_handler = redis
      session.save_path = "tcp://sessionstore.wo5usz.0001.usw2.cache.amazonaws.com:6379"

commands:
  01download_redis:
    test: '[ ! /tmp/phpredis.zip ] && echo "Redis not downloaded"'
    command: wget https://github.com/nicolasff/phpredis/zipball/master -O phpredis.zip
    ignoreErrors: true
    cwd: /tmp
  02install_redis:
    test: '[ ! /usr/lib64/php/modules/redis.so ] && echo "Redis module is not in place"'
    command: unzip -o phpredis.zip;cd nicolasff-phpredis-*;phpize; ./configure;make ; make install
    ignoreErrors: true
    cwd: /tmp
  04restart_server:
    command: apachectl restart
    cwd: /tmp
